# Python Basics NoteBook

In [27]:
#Write a Python code to return your Python version
!python --version

Python 3.8.5

In [2]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

id = "513"
print("customer id =", id)

customer id = 513

In [1]:
#Run the following statement, why there is an error

id=id+1

# The variable id is a string and not a number.

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [3]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

id = int(id)
id = id +1
print("new_id", id)

new_id 514

In [4]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star,")
print("    How I wonder what you are!")
print("       Up above the world so high,")
print("           Like a diamond in the sky.")

Twinkle, twinkle, little star,
    How I wonder what you are!
       Up above the world so high,
           Like a diamond in the sky.

In [5]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
course1 = course[0]
print(course1)

P

In [15]:
# Print the element on the 13th index in the string
course13 = course[13]
course13

't'

In [11]:
# Find the length of string
len(course)

23

In [18]:
# Print the last element in the string [use negative index]
last_element = course[-1]
last_element

'e'

In [21]:
# Take the slice on variable course with only index 11 to index 14
coursenew = course[11:15]
coursenew

'Data'

In [22]:
# Get every third element in the range from index 0 to index 20
courserange = course[0:20:3]
courserange

'Ph ra i'

In [23]:
# Concatenate course string with ", AI & Development"
courseconcat = course + ", AI & Development"
courseconcat

'Python for Data Science, AI & Development'

In [24]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
coursereplace= course.replace(" ", "_")
coursereplace

'Python_for_Data_Science'

In [26]:
# Convert all the characters in string to upper case
Courseupper = course.upper()
Courseupper

'PYTHON FOR DATA SCIENCE'