In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple = ("NPower","JDA","Tuesday",30,3,2021)

In [2]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [4]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])

NPower
JDA
Tuesday
30
3
2021

In [5]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

2021
3
30
Tuesday
JDA
NPower

In [6]:
#Q6 what is the type of each value
print(type(myTuple[0]))
print(type(myTuple[1]))
print(type(myTuple[2]))
print(type(myTuple[3]))
print(type(myTuple[4]))
print(type(myTuple[5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year = myTuple
print(name,program,dayName,month,day,year)

NPower JDA Tuesday 30 3 2021

In [8]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
name,program,dayName = mytuple

# it will not work as the number of variables is not same as the tuple size.

NameError: name 'mytuple' is not defined

In [9]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [10]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [17]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
myTuple = myTuple[::-1]
myTuple

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [19]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [20]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [21]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0][0])
print(nestedTuple[0][1])
print(nestedTuple[0][2])
print(nestedTuple[1][0])
print(nestedTuple[1][1][0])
print(nestedTuple[1][1][1])
print(nestedTuple[1][1][2])

Coursera
course
6
week
2
Lists
Tuple

In [22]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
print(nestedTuple[1][1])

(2, 'Lists', 'Tuple')

In [23]:
#Q14 Access "Lists" from nestedTuple
print(nestedTuple[1][1][1])

Lists

In [24]:
#Q15 Access "Tuple" from nestedTuple
print(nestedTuple[1][1][2])

Tuple

In [25]:
#Q16 Access "course" from nestedTuple
print(nestedTuple[0][1])

course

In [26]:
#Q17 Concatenate myTuple with nestedTuple
newTuple = myTuple + nestedTuple
newTuple

(2021,
 3,
 30,
 'Tuesday',
 'JDA',
 'NPower',
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [29]:
#Q18 add your name to the tuple
newTuple = newTuple + ('Ajinkya',)
newTuple

(2021,
 3,
 30,
 'Tuesday',
 'JDA',
 'NPower',
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Ajinkya')

In [30]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output
'Coursera' in newTuple

False

In [31]:
#Q20 check whether an element exists within a testTuple
3 in newTuple

True

In [35]:
#Q21 Find the index of JDA in myTuple
index = newTuple.index('JDA')
print(index)

# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
index1 = newTuple.index('Coursera')
print(index1)

4

ValueError: tuple.index(x): x not in tuple

In [37]:
#Q22 print index 8 from myTuple
print(newTuple[8])

Ajinkya

In [38]:
#Q23 Get the 4th element and 4th element from last of a myTuple
print(newTuple[3])
print(newTuple[-4])

Tuesday
NPower

In [40]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
count = newTuple.count('27')
count

0